.page-header__wrapper {
  position: relative;
  padding-top: 66px;
}
.page-header__logo {
  position: absolute;
  width: 190px;
  height: 38px;
  left: 50%;
  top: 12px;
  display: block;
  margin-left: -136px;
}

@media (min-width: @tablet-width) {

}
@media (min-width: @desktop-width) {

}

